<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>SteamOS-Ubuntu</vendor>

  <action id="org.steamos.policykit.pkexec.run-session-select">
    <description>Set next SteamOS session (gaming / Plasma)</description>
    <message>Authentication is required to switch SteamOS sessions</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/steamos/steam-set-session</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <!-- Steam Gamepad UI historically pkexec's steamos-session-select itself -->
  <action id="org.valve.steamos.pkexec.run-session-select">
    <description>Run steamos-session-select</description>
    <message>Authentication is required to switch SteamOS sessions</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/steamos-session-select</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
